div(id='status', class='alert-message', style='display: none')
  a(class='close', href='#') ×
  p(class='alert-text')

form(id='doc-form', onsubmit='return false')
  - if (mark.url)
    - var urlStyle = 'display: none';
  - else
    - var urlStyle = '';

  div(class='clearfix', style=urlStyle)
    - var value = mark.url.replace(/\//g, '');
    label(for='url') Url:
    div.input
      input(id='url',
            class='xxlarge',
            value= value,
            placeholder='/some/relative/url',
            required)
  div(class='clearfix')
    label(for='password') Password:
    div.input
      - if (mark.url)
        input(id='password',
              type='password',
              class='xxlarge',
              placeholder='Enter password that was used at mark creation')
      - else
        input(id='password',
              type='password',
              class='xxlarge',
              placeholder='Note: you will need to type same password to edit your mark later')
  div(class='clearfix')
    label(for='title') Title:
    div.input
      input(id='title',
            class='xxlarge',
            placeholder='Title of mark',
            value=mark.title,
            required)
  div(class='clearfix')
    label(for='body') Body:
    div.input
      textarea(id='body',
               class='xxlarge',
               rows=12,
               placeholder='Put your *markdown* text here!',
               required)
        = mark.body
  div(class='actions')
    input(type='submit', class='btn large primary', value='Save')
