div(id='status', class='alert-message', style='display: none')
  a(class='close', href='#') ×
  p(class='alert-text')

form(id='doc-form', onsubmit='return false')
  - if (mark.url)
    - var urlStyle = 'display: none';
  - else
    - var urlStyle = '';

  div(class='clearfix', style=urlStyle)
    - var value = mark.url.replace(/\//g, '');
    label(for='url') Url:
    div.input
      input(id='url',
            class='xxlarge',
            value= value,
            required)
  div(class='clearfix')
    label(for='password') Password:
    div.input
      input(id='password',
            type='password',
            class='xxlarge',
            placeholder='password')
      - if (!mark.url)
        span(class='help-block')
          b Note: 
          span you will need to type same password to edit your mark later
  div(class='clearfix')
    label(for='title') Title:
    div.input
      input(id='title',
            class='xxlarge',
            placeholder='Title of doc',
            value=mark.title,
            required)
  div(class='clearfix')
    label(for='body') Body:
    div.input
      textarea(id='body', class='xxlarge', rows=15, required)
        - if (mark.body)
          = mark.body
        - else
          ='Put your *markdown* text here!'
  div(class='actions')
    input(type='submit', class='btn large primary', value='Save')
