!!! 5
html
  head
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
    - if (title)
      title= 'Markshare - ' + title
    - else
      title= 'Markshare'
  body
    header(class='container')
      - if (title)
        h1= title
      - else
        h1= '## Markshare'

    section(id='content', class='container')!= body

    footer(class='footer')
      = 'Made using '
      a(href='http://nodejs.org/') node.js
      = ', '
      a(href='https://github.com/indutny/node-bplus') node-bplus
      = ' and '
      a(href='http://twitter.github.com/bootstrap/') twitter bootstrap

    script(src='/js/jquery.min.js')
    script(src='/js/main.js')
    script var _gaq =_gaq||[];_gaq.push(['_setAccount', 'UA-28738601-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
